@import 'tailwindcss';

@theme {
  --animate-fade-in: fade-in 0.3s ease-out forwards;
  --animate-slide-in: slide-in-from-bottom 0.3s ease-out forwards;
  --animate-zoom-in: fade-in-scale 0.3s ease-out forwards;

  @keyframes fade-in-scale {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes slide-in-from-bottom {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}